body {
  background-color: #33373c;
}

header, footer {
  color: white;
  background-color: #3D6271;
  margin: 0em 4em 0.5em 4em;
}

a {
  color: #54c4dd;
}

h1 {
  font-size: 2em;
  padding-bottom: 0.25em;
  padding-left: 0.25em;
}

h4 {
  font-size: 1em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
}

ul {
  background-color: #7b8589;
  padding: 0.5em;
}

li {
  display: inline;
  font-size: 1em;
}

.main {
  margin: 0em 4em 0.5em 4em;
  padding-left: 0.5em;
  background-color: #ffffff;
}

i {
  display: block;
  color: rgb(177, 175, 175);
  margin-bottom: 0.25em;
}

p {
  line-height: 1.5em;
}

hr {
  border: 0;
  border-top: 1px solid #000000;
  padding-bottom: 1em;
}

h3 a {
  color: #000000;
  font-size: 1.5em;
}

section {
  margin
  -bottom: 1em;
}

.park {
  display: block;
  border: 1px solid #000000;
  padding: 0.5em;
  width: 80%;
  height: 60%;
  max-width: 600px;
  max-height: 500px;
}

.share {
  padding: 0.5em;
  border-radius: 5px;
  width: 70%;
  max-width: 600px;
  background-image: linear-gradient(to bottom, rgb(200, 200, 200), rgb(134, 134, 134));
}

.review hr {
  border: 0;
  border-top: 1px dashed #000000;
}

footer {
  padding-left: 0.5em;
  margin-bottom: 0;
}
